<div class = "contents text-center">
  <div class = "form">
    <%= form_tag("/poker", method: :post) do %>
      <input type="text" name="cards" value="<%= @cards %>" placeholder="入力例: H1 S2 D3 C4 H5" size="30" class="bg-light">
      <input type="submit" value="Check" class="text-white bg-success">
    <% end %>
  </div>
  <div class="result mt-4">
    <p><%= @result %></p>
  </div>
  <!--  flashメッセージの読み込み-->
  <%= render 'layouts/flash_messages' %>
</div>
